@import "../../proprietary/design-tokens/dist/index.css";
@import "../../proprietary/logius-design-tokens/brand/mijnoverheid/index.css";

/* Demo styles */
@font-face {
  font-family: "RoSans";
  font-display: swap;
  src: url("./fonts/ROsanswebtextregular.eot") format("eot"), url("./fonts/ROsanswebtextregular.woff") format("woff"),
    url("#{$font-path}.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.bg-grey {
  padding: 16px;
  background-color: rgb(229, 229, 229);
}

.demo-table {
  font-family: "RoSans", sans-serif;
}

.demo-table td {
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  padding-block-start: 8px;
  padding-block-end: 8px;
  vertical-align: top;
}

.demo-table th {
  padding-right: 16px;
}
.demo-table th,
.demo-table td:first-of-type {
  font-style: italic;
  font-weight: 400;
}

/* End of demo styles */

.mijnoverheid-tab-set {
  overflow: hidden;
}

.mijnoverheid-tab-list {
  font-size: 0;
  overflow-x: auto;

  /* Theme styles */
  background-color: var(--mijnoverheid-tab-list-background-color);
  border-color: var(--mijnoverheid-tab-list-border-color);
  border-style: var(--mijnoverheid-tab-list-border-style);
  border-width: var(--mijnoverheid-tab-list-border-width);
  box-shadow: var(--mijnoverheid-tab-list-box-shadow);
  margin-block-start: var(--mijnoverheid-tab-list-margin-block-start);
  margin-block-end: var(--mijnoverheid-tab-list-margin-block-end);
  padding-block-start: var(--mijnoverheid-tab-list-padding-block-start);
  padding-block-end: var(--mijnoverheid-tab-list-padding-block-end);
  padding-inline-start: var(--mijnoverheid-tab-list-padding-inline-start);
  padding-inline-end: var(--mijnoverheid-tab-list-padding-inline-end);
}

.mijnoverheid-tab-label {
  display: inline-block;
  position: relative;
  border-width: 0;
  white-space: nowrap;

  /* Theme styles */
  background-color: var(--mijnoverheid-tab-label-background-color);
  color: var(--mijnoverheid-tab-label-color);
  font-family: var(--mijnoverheid-tab-label-font-family);
  font-size: var(--mijnoverheid-tab-label-font-size);
  font-weight: var(--mijnoverheid-tab-label-font-weight);
  line-height: var(--mijnoverheid-tab-label-line-height);
  padding-block-start: var(--mijnoverheid-tab-label-padding-block-start);
  padding-block-end: var(--mijnoverheid-tab-label-padding-block-end);
  padding-inline-start: var(--mijnoverheid-tab-label-padding-inline-start);
  padding-inline-end: var(--mijnoverheid-tab-label-padding-inline-end);
  border-top-left-radius: var(--mijnoverheid-tab-label-border-radius-top-left);
  border-top-right-radius: var(--mijnoverheid-tab-label-border-radius-top-right);
  border-bottom-left-radius: var(--mijnoverheid-tab-label-border-radius-bottom-left);
  border-bottom-right-radius: var(--mijnoverheid-tab-label-border-radius-bottom-right);
}

.mijnoverheid-tab-label:hover,
.mijnoverheid-tab-label--hover {
  cursor: pointer;

  /* Theme styles */
  background-color: var(--mijnoverheid-tab-label-hover-background-color);
}
.mijnoverheid-tab-label:focus,
.mijnoverheid-tab-label--focus {
  /* Theme styles */
  background-color: var(--mijnoverheid-tab-label-focus-background-color);
}
.mijnoverheid-tab-label:active,
.mijnoverheid-tab-label--active {
  /* Theme styles */
  background-color: var(--mijnoverheid-tab-label-active-background-color);
}

.mijnoverheid-tab-label--mobile {
  /* Theme styles */
  padding-inline-start: 12px;
  padding-inline-end: 12px;
  padding-block-start: 12px;
  padding-block-end: 12px;
}

.mijnoverheid-tab-label--current {
  /* Theme styles */
  font-weight: var(--mijnoverheid-tab-label-current-font-weight);
}

/* Balk neemt ruimte in (4px) ipv ruimte toevoegen */
.mijnoverheid-tab-label--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";

  /* Theme styles */
  height: var(--mijnoverheid-tab-label-current-indicator-height);
  background-color: var(--mijnoverheid-color-brand-primary);
  border-top-left-radius: var(--mijnoverheid-tab-label-current-indicator-border-radius-top-left);
  border-top-right-radius: var(--mijnoverheid-tab-label-current-indicator-border-radius-top-right);
  border-bottom-left-radius: var(--mijnoverheid-tab-label-current-indicator-border-radius-bottom-left);
  border-bottom-right-radius: var(--mijnoverheid-tab-label-current-indicator-border-radius-bottom-right);
}
.mijnoverheid-tab-label--current:hover::after,
.mijnoverheid-tab-label--current.mijnoverheid-tab-label--hover::after {
  /* Theme styles */
  background-color: var(--mijnoverheid-tab-label-current-indicator-hover-background-color);
}
.mijnoverheid-tab-label--current:active::after,
.mijnoverheid-tab-label--current.mijnoverheid-tab-label--active::after {
  /* Theme styles */
  background-color: var(--mijnoverheid-tab-label-current-indicator-active-background-color);
}
.mijnoverheid-tab-label--current:focus::after,
.mijnoverheid-tab-label--current.mijnoverheid-tab-label--focus::after {
  /* Theme styles */
  background-color: var(--mijnoverheid-tab-label-current-indicator-focus-background-color);
}

.mijnoverheid-tab-label--disabled,
.mijnoverheid-tab-label[disabled],
.mijnoverheid-tab-label--disabled:hover,
.mijnoverheid-tab-label[disabled]:hover,
.mijnoverheid-tab-label--disabled:active,
.mijnoverheid-tab-label[disabled]:active,
.mijnoverheid-tab-label--disabled:focus,
.mijnoverheid-tab-label[disabled]:focus {
  cursor: default;

  /* Theme styles */
  background-color: var(--mijnoverheid-tab-label-background-color);
}
.mijnoverheid-tab-label--disabled::after,
.mijnoverheid-tab-label[disabled]::after,
.mijnoverheid-tab-label--disabled:hover::after,
.mijnoverheid-tab-label[disabled]:hover::after,
.mijnoverheid-tab-label--disabled:active::after,
.mijnoverheid-tab-label[disabled]:active::after,
.mijnoverheid-tab-label--disabled:focus::after,
.mijnoverheid-tab-label[disabled]:focus::after {
  /* Theme styles */
  background-color: var(--mijnoverheid-color-dove-gray);
}
