:root {
  --mijnoverheid-viewport-breakpoint-xs: 0;
  --mijnoverheid-viewport-breakpoint-sm: 576px;
  --mijnoverheid-viewport-breakpoint-md: 768px;
  --mijnoverheid-viewport-breakpoint-lg: 992px;
  --mijnoverheid-viewport-breakpoint-xl: 1200px;
}
